<div class="row">
  <div class="col-sm-8">
    <div class="card-header">
       <ul class="nav nav-tabs card-header-tabs float-xs-left">
        <li class="nav-item">
          <%= link_to "Article", article_path(article), class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Comments", article_comments_path(article), class: "nav-link" %>
        </li>
      </ul>
    </div>

    <div class="card-block", style="display:inline;">
      <h4 class="card-title"><%= article.title %>  | Views: <%= article.page_view %> </h4>
      <p class="card-text"> <%= @markdown.render(article.body).html_safe %> </p>    
    </div>

            
    <div class="card-footer">
      <%= link_to 'Show', article_path(article), class:'btn btn-info' %>
      <%= link_to 'Edit', edit_article_path(article), class:'btn btn-warning' %>
      <%= link_to 'Delete', article, method: :delete, data: {confirm: 'Are you sure?'}, class:'btn btn-danger' %>
    </div>
  </div>
</div>

<br>
