<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<p id="notice"><%= notice %></p>

<div class="container">



<h1> Minh's sample blog </h1>

<nav class="navbar navbar-light bg-faded">
	<%= link_to 'https://github.com/minhhuynguyen91/prework_blog' do  %>
		<i class="fa fa-github" style="font-size:36px;color: Black;"></i>
	<% end %>

	<%= link_to 'https://plus.google.com/101254840748865913695' do  %>
		<i class="fa fa-google-plus-official" style="font-size:36px;color: Red;"></i>
	<% end %>

	<%= link_to 'https://www.facebook.com/huy.minh.coi' do  %>
		<i class="fa fa-facebook-official" style="font-size:36px;"></i>
	<% end %>

	<%= link_to 'https://vn.linkedin.com/in/minh-nguyen-b49a40105' do  %>
		<i class="fa fa-linkedin-square" style="font-size:36px;"></i>
	<% end %>


	<%= form_tag(articles_path, :method => "get") do %>
		<%= text_field_tag :search, params[:search], placeholder: 'Search title or tag name' %>
		<button type='submit', class='btn btn-info btn-sm'> 
			<span class="glyphicon glyphicon-search"></span> Search 
		</button>

	<% end %>
</nav>


<br>  


<br>


<% if @articles.blank? %>

  <h3> Sorry, your search is not found </h3>
  
<% else %>

  <%= render @articles %>

<% end %>

<br>

<%= link_to 'New Article', new_article_path %>
</div>


