
<p id="notice"><%= notice %></p>

<div class="container">



<h1>Sample blog </h1>

<nav class="navbar navbar-light bg-faded">
	<%= form_tag(articles_path, :method => "get") do %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :name => nil %>
	<% end %>
</nav>


<br>  


<br>

<% if @articles.blank? %>

  <h3> Sorry, your search is not found </h3>
  
<% else %>

  <%= render @articles %>

<% end %>

<br>

<%= link_to 'New Article', new_article_path %>
</div>


